<ion-view view-title="Welcome CallPlanner" id="tour-view" >
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="showLogin()">Log in</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slide-box show-pager="true" slide-interval="3000" >
    <ion-slide class="slider-slide-image" >
      <img src="img/iu1.jpg"/>
      <div class="slide-content">
        <h3>test</h3>
      </div>
    </ion-slide>
    <ion-slide class="slider-slide-image slider-slide-text">
      <img src="img/iu2.jpg"/>
      <h3>test</h3>
    </ion-slide>
    <ion-slide class="slider-slide-image slider-slide-text">
      <img src="img/iu3.jpg"/>
    </ion-slide>
  </ion-slide-box>
</ion-view>
