<ion-view view-title="Call Planner">
  <ion-content>
    <div class="list card">

      <div class="item item-icon-left item-stable">
        <i class="icon ion-ios-bolt"></i>
        <h2>RIGHT NOW!</h2>
        <p>conference right now</p>
      </div>
      <div class="item item-image" ng-click="goContacts()">
        <img src="img/home_card1.jpg">
      </div>

      <div class="item item-icon-left item-stable">
        <i class="icon ion-ios-alarm-outline"></i>
        <h2>SCHEDULE PLAN</h2>
        <p>schedule your conference</p>
      </div>
      <div class="item item-image" ng-click="goCreatePlan()">
        <img src="img/home_card2.jpg">
      </div>

    </div>
  </ion-content>
</ion-view>
